h1 {
    color: rgb(151, 9, 9);
    font-family: "Vollkorn",Helvetica, Arial, sans-serif;
    font-size: 72px;
    text-align: center;
    font-style: italic;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 48px;
    text-align: center;
    font-style: italic;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    font-style: bold;
}

h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
    font-style: italic
}
h6{
    font-family: Arial;
    font-size: 18px;
    text-align: center;
}

a{
    color: inherit;
    text-decoration: none;
}
a:visited,
a:active{
    color: inherit;
}

a:hover{
    color: rgb(225, 100, 100);
}

.in_text{
    color: rgb(151, 9, 9)
}

.site_body{
    font-family: Arial, sans-serif;
    text-align: left;
    font-size: 20px;    
}

ul.in{
    text-align: inherit;
    list-style-position: inside;
    list-style-type: " ➔ "
}